.menu-order {
    width: 100%;
}

.footer {
    background-color: #EFEFE7 !important;
}

.login-text-icon::before {
    content: "\e843";
    font-family: "feather";
    font-size: 20px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 0px;
}


.order-detail-text-icon::after {
    content: "\e844";
    font-family: "feather";
    font-size: 20px;
    font-weight: 900;
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
}

.flex-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}

@media (max-width: 991px) {
    .menu-order {
        width:unset;
    }
}